.onOff {
    display: flex;
    align-items: center;
}



.onOff>button:nth-child(2) {
    margin-left: 1px;
}

.circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.bgGreen {
    background-color: green;
}

.bgRed {
    background-color: red;
}

button {
    border: 1px solid black;
}